<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestOne</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <main class="container">

        <h1>Live-Code App 🚀</h1>

        <p>Projeto N1 Web c/ Flask + HTML + CSS.</p>

        <div class="caixa">
            <h2>Texto da primeira caixa</h2>
            <p>elemento estilizado.</p>
        </div>
        
        <div class="caixa">
            <h3>Segunda caixa</h3>
            <p>elemento estilizado.</p>
        </div>

    </main>

</body>
</html>